@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@theme {
  --font-*: initial;
  --color-*: initial;
  --container-*: initial;
  --color-transparent: transparent;
  --font-space-mono: 'Space Mono', monospace;
  --font-right-grotesk: 'Right Grotesk', sans-serif;
  --breakpoint-3xl: 104rem;

  /**
    * @tokens Color
    * @presenter Color
  */
  --color-white: #ffffff;
  --color-black: #0a0a0a;
  --color-gray-100: #f3f2ed;
  --color-gray-900: #1f2024;
  --color-pink-100: #ff55a2;
  --color-pink-200: #ff3979;
  --color-pink-300: #ff2cb2;
  --color-pink-400: #ff00a1;
  --color-red: #eb0d18;
  --color-blue-50: #cae9fa;
  --color-blue-100: #5879ff;
  --color-blue-200: #5100ff;
  --color-blue-300: #163892;
  --color-yellow-100: #eedf39;
  --color-yellow-200: #f9e174;
  --color-purple-100: #a774f9;
  --color-purple-200: #672fcf;
  --color-purple-300: #461a97;
  --color-mint: #ace5d7;
  --color-magenta: #e42c7f;

  /**
    * @tokens Box Shadow
    * @presenter Box Shadow
  */
  --shadow-button: -6px 6px 0 0 var(--color-gray-900);
  --shadow-button-hover: -11px 11px 0 0 var(--color-gray-900);
  --shadow-purple: -6px 6px 0 0 var(--color-gray-900);
  --shadow-purple-hover: -11px 11px 0 0 var(--color-purple-300);
  --shadow-card: -3px 3px 0 0 var(--color-gray-900);

  /**
  * @tokens-end
  */
}

@layer base {
  html {
    @apply scroll-pt-12 scroll-smooth lg:scroll-pt-11;
  }

  body {
    @apply font-space-mono antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-right-grotesk;
  }

  a {
    @apply inline-block hover:!no-underline text-inherit;
  }
}

@layer utilities {
  .transition-smooth {
    @apply transition-all duration-300 ease-in-out;
  }

  .prose {
    @apply text-inherit max-w-full;
    strong,
    a,
    ol li::marker,
    ul li::marker {
      @apply text-current;
    }
  }

  .title-md {
    font-size: clamp(1.875rem, 1.542rem + 1.67vw, 3rem); /* 30px - 48px */
    line-height: 1;
  }

  .hero-text {
    span {
      text-shadow: -17px 17px 0 var(--color-gray-900);
      -webkit-text-stroke: 8px var(--color-gray-900);

      @media (max-width: 768px) {
        text-shadow: none;
        -webkit-text-stroke: 2px var(--color-gray-900);
      }
    }
  }
}

/* Storybook Styles ONLY: DO NOT DELETE */

.sbdocs-content {
  @apply mx-auto !max-w-[1920px];
}

/* Token Card Styles */
.css-11igmw9 {
  @apply relative !gap-10;
}
.css-1lkb4bw {
  @apply relative !overflow-visible !p-0 !shadow-none hover:!bg-transparent;
}

.css-1lkb4bw {
  @apply text-right;
  .css-1y5ujk1 {
    @apply hidden;
  }
}

/* End Storybook Styles */
